body {
  font-family: Arial, Helvetica, sans-serif;
}
table,tr,td {
   border: 1px solid black;
}
table {border-collapse: collapse;}
td    {padding: 6px;}
table > tbody > tr:nth-child(1) > td {
  text-align: center;
  font-weight: bold;
  background-color: #B2D1E3;
}

table > tbody > tr:nth-child(2) > td {
  background-color: #B2D1E3;
}


td.wochenende {
/*  background-color: #0066A2;*/
  background-color: #B2D1E3;
}

td.sonntag, td.feiertag {
  color: #FF0000;
}

input.changed {
  background-color: #ffff66!important;
}

div.alert > a { 
  font-weight: bold;
}

